<html xmlns:th="http://www.thymeleaf.org">
<footer class="pt-2 small" id="footer" th:fragment="footer">
		<div class="container-fluid text-center bg-dark text-white">
		  <div class="row">		   	
		   	 <div class="col-md-4 mx-auto">
		        <h5 class=" text-center font-weight-bold">PUBLICO OBJETIVO</h5>
		        <p class="text-left">La pagina no estara disponible para todo el publico, dado a la informacion que se maneja el registrador es confidencial.  </p>
		      </div>
		      
		      
		     <div class="col-md-2 mx-auto">
		        <h5 class=" text-center font-weight-bold">INTEGRANTES</h5>
		     	<div class="text-left">
		     		<p> <i class="fas fa-puzzle-piece"></i> Toconas Ulises</p>
		     		<p> <i class="fas fa-puzzle-piece"></i> Brian Gonsalez</p>
		     		<p> <i class="fas fa-puzzle-piece"></i> Jorge</p>
		     	</div>
		     </div>
		   </div>    
		 </div>
	</footer>
</html>   