<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta name="author" content="Gonzalez, Brian Leonel">
		<meta charset="utf-8">
		
		<link th:rel="stylesheet" type="text/css" th:href="@{css/estilo.css}">
		
	</head>
	<body>
		<div id="footer" th:fragment="footer">
			<footer class="footer bg-dark mt-4 p-3 d-flex justify-content-center align-items-center">
				<span class="text-muted">
					&copy; Programación Visual 2020 | Tracking de Camiones
				</span>
			</footer>
		</div>
	</body>
</html>