<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta name="author" content="Gonzalez, Brian Leonel">
		<meta charset="utf-8">
	</head>
	<body>
	
		<!-- Header Log In Principal -->
       	<div id="header-login" th:fragment="header-login">
       	
	       	<nav class="navbar fixed-top navbar-dark bg-dark">
	       		<div class="container d-flex justify-content-center align-items-center">
	       			<a class="navbar-brand m-auto h1" href="#" style="text-transform: uppercase; font-size: x-large;">
    					<img src="img/logo2.png" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy">
    					Tracking de Camiones
  					</a>
	       		</div>
			</nav>
       	
       	</div>
       	
       	<!-- Header Cerrar sesion Principal -->
       	<div id="header-sign-off" th:fragment="header-sign-off">
       	
	       	<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
	       		<div class="container d-flex justify-content-center align-items-center">
	       			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
	                	<span class="navbar-toggler-icon"></span>
	            	</button>
	            	
	       			<a class="navbar-brand m-auto h1" href="#" style="text-transform: uppercase; font-size: x-large;">
    					<img src="img/logo2.png" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy">
    					Tracking de Camiones
  					</a>
  					
  					<div class="collapse navbar-collapse  flex-row-reverse" id="navbarTogglerDemo02">
		                <form class="form-inline col-sm-12 col-lg-3">
		                	<button class="btn btn-danger col-sm-12 col-lg-12 my-2 my-sm-0" type="button">
		                		<i class="fas fa-sign-out-alt"></i> &nbsp; Cerrar Sesión
		                	</button>
		                </form>
		            </div>
	       		</div>
			</nav>
       	
       	</div>
       	
	</body>
</html>