
.cuerpoBD{
	background-image: url(../img/fondo-camion.jpg);
    background-blend-mode: soft-light;
    background-color: rgb(35, 50, 37);
    background-size: 100%;
    background-position:center;
    background-repeat: no-repeat;
}
.table-striped{
	color: white;

}
body header{
		color: #00ff80;
		text-align: center;
}
h2{
	color: white;
}
.table-striped td{
		text-align: center;
	
}
.table-striped tr{
		text-align: center;
}
.btn-warning{
	background: #37e1d9;
}
btn-danger{
	background: #ff0000;
}
.editLocalidad{
	background-image: url(../img/camion2.jpg);
    background-blend-mode: soft-light;
    background-color: rgb(35, 50, 37);
    background-size: 100%;
    background-position:center;
    background-repeat: no-repeat;
    color:white;
}
body{
	background: green;
}
