<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<title>Consultas</title>
		<link rel="icon" type="image/png" href="img/logo2.png">
		
		<!-- Bootstrap -->
		<link th:rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/css/bootstrap.min.css}">
		
		<!-- FontAwesome -->
		<link th:rel="stylesheet" th:href="@{webjars/font-awesome/css/all.css}">
		
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="css/estilos.css" >
		
		<!-- Tempusdominus -->
		<link th:rel="stylesheet" th:href="@{css/tempusdominus-bootstrap-4.min.css}"/>
		
		<link rel="stylesheet" type="text/css" href="css/tempusdominus-bootstrap-4.min.css">

		
	</head>
	<body class="body-container-consulta m-0">
		
		<!-- Header -->
		<div th:insert="layout/header :: header-sign-off"></div>
		
		<!-- Contenedor principal -->
		<!-- container-fluid d-flex justify-content-center -->
		 
		<div class="container-fluid mx-0 mb-5 mt-3 pt-5 px-0 d-flex justify-content-center align-items-center">
				<div class="card mt-5" >
					<div class="card-header container p-4">
						<div class="row m-0">
							<h2 class="card-title col-sm-12 text-center text-dark m-0">Listar recorrido por tripulante. Orden: dia-hora</h2>
						</div>
  					</div>
					<div class="card-body container"> 
						<div class="row">
					
						    		<div class=" col-sm-12">
						    			<div class="container my-4">
							    			<form class="row justify-content-center" th:action="@{}" th:object="${}" method="post">
							    				
							    				<input class="form-control col-sm-4" type="number" min="1000000" th:field="${}" required placeholder="Ingrese DNI de tripulante a buscar...">
							    				<button type="submit" class="btn btn-success col-sm-2 ml-2">BUSCAR</button>
							    			</form>
						    			</div>
						    		</div>
						    		
						    		<div th:if="${activarNoPatente==true}" class="col-sm-12 text-center h5 font-weight-lighter">
						    			<div th:text="${noPatente}" class="alert alert-danger" role="alert"></div>
						    		</div>
						    		
						    		<div th:if="${activarSinRegistro==true}" class="col-sm-12 text-center h5 font-weight-lighter">
						    			<div th:text="${sinRegistro}" class="alert alert-danger" role="alert"></div>
						    		</div>
						    		
						    		<!-- Tabla de registros encontrados -->
						    		<div th:if="${activarTabla==true}" class="col-sm-12 text-center">
						    			<div class="table-responsive">
							    			<table class="table table-hover m-auto">
											    <thead class="thead-dark">
											    	<tr>
												        <th>ID</th>
												        <th>N° Patente</th>
												        <th>Tipo</th>
												        <th>N° Chasis</th>
												        <th>N° Motor</th>
												        <th>Modelo</th>
												        <th>Marca</th>
												        <th>Color</th>
												        <th>Localidad</th>
												        <th>Fecha-Hora</th>
												        <th>Detalles</th>
											      	</tr>
											    </thead>
											    <tbody>
											      	<tr th:each="registro : ${registrosPatente}">
												        <td th:text="${registro.id}"></td>
												        <td th:text="${registro.vehiculo.patente}"></td>
												        <td th:text="${registro.vehiculo.tipo}"></td>
												        <td th:text="${registro.vehiculo.numeroChasis}"></td>
												        <td th:text="${registro.vehiculo.numeroMotor}"></td>
												        <td th:text="${registro.vehiculo.modelo}"></td>
												        <td th:text="${registro.vehiculo.marca}"></td>
												        <td th:text="${registro.vehiculo.color}"></td>
												        <td th:text="${registro.localidad.nombre}"></td>
												        <td th:text="${registro.fecha}"></td>
												        <td th:text="${registro.detalleLugarRegistro}"></td>
											      	</tr>
											    </tbody>
										  	</table>
									  	</div>
						    		</div>
						    	</div>
						    
			  		</div>
				</div>
			
		</div> 
		
		<!-- Footer -->
		<div th:insert="layout/footer :: footer"></div>
		
		
		<!-- Script Bootstrap -->
		<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
		<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}" type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
		<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}" type="text/javascript"	src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
		
	</body>
</html>