<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
		<meta name="author" content="Gonzalez, Brian Leonel">
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	
    	<!-- Bootstrap -->
    	<link th:rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
    	
    	<!-- CSS 
    	<link th:rel="stylesheet" type="text/css" th:href="@{css/style.css}">
    	-->
    	
    	<!-- FontAwesome -->
    	<link href="fontawesome-5.13.1/css/all.css" rel="stylesheet">
    	
    	<!-- Scripts de bootstrap -->
    	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>		
		<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}" type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
		<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}" type="text/javascript" src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    	
		<title>Tracking de Camiones</title>
</head>
	
	<body class="container">

		   <!-- abrir la plantilla del header -->
		   <div th:insert="layout/header :: header"></div>
		
				<br>
					<a th:href="@{/Vehiculo}" class="btn btn-primary">Nuevo Registro</a>
				<br><br>
	
			<ul class="nav nav-tabs" role="tablist">
				<li class="nav-item"><a id="formulario-tab"
					class="nav-link active" href="#formulario" data-toggle="tab"
					role="tab" aria-controls="formulario" aria-selected="true">VEHICULOS</a></li>
				<li class="nav-item"><a id="lista-tab" class="nav-link"
					href="#lista" data-toggle="tab" role="tab" aria-controls="lista"
					aria-selected="false">TRIPULANTES</a></li>				
			<!-- COMENTARIO aumentar un li para una nueva pestaña -->				
			</ul>
						
			<h1>LISTADO DE VEHICULOS</h1>
				<div class="table-responsive">
				<table class="table table-striped">
		  				<thead>
		    				<tr>
		      					<th scope="col">ID</th>
		      					<th scope="col">PATENTE</th>
		      					<th scope="col">TITULAR</th>
		      					<th scope="col">TIPO</th>
		      					<th scope="col">MARCA</th>
		      					<th scope="col">MODELO</th>
		      					<th scope="col">COLOR</th>
		      					<th scope="col">NRO DE CHASIS</th>
		      					<th scope="col">NRO DE MOTOR</th>
		      					<th scope="col">LOCALIDAD</th>
		      					<th scope="col">FECHA REGISTRO</th>
		    				</tr>
		  				</thead>
		  			  <tbody>
		  			  		<tr th:each = "vehiculo:${vehiculos}">
		      				<td th:text = "${vehiculo.id}" ></td>
		      				<td th:text = "${vehiculo.patente}" ></td>
		      				<td th:text = "${vehiculo.titular}" ></td>
		      				<td th:text = "${vehiculo.tipo}" ></td>
		      				<td th:text = "${vehiculo.marca}" ></td>
		      				<td th:text = "${vehiculo.modelo}" ></td>
		      				<td th:text = "${vehiculo.color}" ></td>
		      				<td th:text = "${vehiculo.numeroChasis}" ></td>
		      				<td th:text = "${vehiculo.numeroMotor}" ></td>
		      		    	<td th:text = "${localidad.nombre}"></td>
		  			  
		  			  
		    		<!--	<tr th:each = "vehiculo:${vehiculoDelForm}">
		      				<td th:text = "${vehiculoDelForm.idpatente}" ></td>
		      				<td th:text = "${vehiculoDelForm.titular}" ></td>
		      				<td th:text = "${vehiculoDelForm.tipo}" ></td>
		      				<td th:text = "${vehiculoDelForm.marca}" ></td>
		      				<td th:text = "${vehiculoDelForm.modelo}" ></td>
		      				<td th:text = "${vehiculoDelForm.color}" ></td>
		      				<td th:text = "${vehiculoDelForm.numerochasis}" ></td>
		      				<td th:text = "${vehiculoDelForm.numeromotor}" ></td>
		      		    	<td th:text = "${vehiculoDelForm.localidad.nombre}"></td>
		      		      		<td th:text = "${#temporals.format(vehiculoDelForm.fechaRegistro, 'dd/MM/yyyy')}"></td>
		      				-->
		      				
		    			</tr>
		    
		  			</tbody>
				</table>
			</div>
<!--  	
	<div th:insert="layout/footer :: footer"></div>
-->	
	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>		
	<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}" type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
	<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}" type="text/javascript" src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>


</body>
</html>