<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
		<meta name="author" content="Toconas Ulises Daniel">
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	
    	<!-- Bootstrap -->
    	<link th:rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
    	
    	<!-- CSS 
    	<link th:rel="stylesheet" type="text/css" th:href="@{css/style.css}">
    	-->
    	
    	<!-- FontAwesome -->
    	<link href="fontawesome-5.13.1/css/all.css" rel="stylesheet">
    	
    	<!-- Scripts de bootstrap -->
    	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>		
		<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}" type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
		<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}" type="text/javascript" src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    	
		<title>Tracking de Camiones</title>
</head>
		
   <body class="container">
			<!-- abrir la plantilla del header -->
		   <div th:insert="layout/header :: header"></div>

			<ul class="nav nav-tabs" role="tablist">
				<li class="nav-item"><a id="formulario-tab"
					class="nav-link active" href="#formulario" data-toggle="tab"
					role="tab" aria-controls="formulario" aria-selected="true">VEHICULOS</a></li>
				<li class="nav-item"><a id="lista-tab" class="nav-link"
					href="#lista" data-toggle="tab" role="tab" aria-controls="lista"
					aria-selected="false">TRIPULANTES</a></li>				
			<!-- COMENTARIO aumentar un li para una nueva pestaña -->				
			</ul>
						
			<h1>LISTADO DE TRIPULANTES</h1>
				<div class="table-responsive">
				<table class="table table-striped">
		  				<thead>
		    				<tr>
		      					<th scope="col">ID_VEHICULO</th>
		      					<th scope="col">ID</th>
		      					<th scope="col">DNI</th>
		      					<th scope="col">APELLIDO</th>
		      					<th scope="col">NOMBRES</th>
		      					<th scope="col">NACIONALIDAD</th>
		    				</tr>
		  				</thead>
		  			  <tbody>
		    			<tr th:each = "tripulante:${tripulantes}">
		      				<td th:text = "${vehiculo.id}" ></td>
		      				<td th:text = "${tripulante.id}" ></td>
		      				<td th:text = "${tripulante.dni}" ></td>
		      				<td th:text = "${tripulante.apellido}" ></td>
		      				<td th:text = "${tripulante.nombre}" ></td>
		      				<td th:text = "${tripulante.nacionalidad}" ></td>	
		    			</tr>
		    
		  			 </tbody>
				</table>
			</div>
	
	<div th:insert="layout/footer :: footer"></div>
	
	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>		
	<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}" type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
	<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}" type="text/javascript" src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>


</body>
</html>