<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
		<meta name="author" content="Toconas Ulises Daniel">
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	
    	<!-- Bootstrap -->
    	<link th:rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
    	
    	<!-- CSS 
    	<link th:rel="stylesheet" type="text/css" th:href="@{css/style.css}">
    	-->
    	
    	<!-- FontAwesome -->
    	<link href="fontawesome-5.13.1/css/all.css" rel="stylesheet">
    	
    	<!-- Scripts de bootstrap -->
    	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>		
		<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}" type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
		<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}" type="text/javascript" src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    	
		<title>Tracking de Camiones</title>
</head>

<body class="container">
		
				<br>
					<a th:href="@{/home}" class="btn btn-primary">Nuevo Registro</a>
				<br>
				
				  <div class="row my-4">
                        <div class="col-md-9 mx-auto">
                        
                        	 <div class="form-group row my-4 justify-content-center">
                                <label for="fechaHora" class="col-sm-4 col-xl-2 col-form-label my-auto" style="color:black"><h6>FECHA</h6></label>
                                <div class="col-sm-4">
                                    <textarea th:text="${fecha}" class="form-control" rows="1" select disabled></textarea>
                                </div> 
                          	</div>
                          	
                  <!--  	<div class=" col-sm-12 col-md-9 col-lg-4 mx-4" style="height: auto">-->        
                
			                  	  <div class="form-group row mb-4 my-3 justify-content-center" >
			                          <label for="detalles" class="col-sm-3 col-form-label my-auto" style="color:black"><h6>DETALLES DEL LUGAR</h6></label>
			                          <div class="col-sm-9">
			                              <textarea th:text="${detalle}" class="form-control" rows="3" select disabled></textarea>
			                          </div>
			                   	  </div>
               			       
                          
                          	
                          	 <div class="row justify-content-center">
	                            <h3 class=" w-100 p-2 text-center " style="border: 2px dodgerblue solid">LOCALIDAD DEL REGISTRO</h3>
	                        	
		                        <div class="table-responsive">
			                        <table class="table table-reponsive-sm table-striped"> 
				                          <thead class="bg-info">
				                            <tr>
				                            	<th scope="col">ID</th>
				                              	<th scope="col">LOCALIDAD</th>				                              
				                            </tr>
				                          </thead>
				
				                          <tbody>
				                            <tr th:each="localidad : ${localidad}">
				                              <td th:text="${localidad.id}"></td>
				                              <td th:text="${localidad.nombre}"></td>
				                            </tr>
				                          </tbody>
			                        </table>
		                        </div>
						  </div>
                        </div>
                    </div>
                      
                        	  <div class="row justify-content-center">
                                <h3 class=" w-100 p-2 text-center " style="border: 2px dodgerblue solid">VEHICULO</h3>
                          	
                          		  <div class="table-responsive">
		                            <table class="table table-reponsive-sm table-striped"> 
		                                  <thead class="bg-info">
			                                    <tr>
				                                      <th scope="col">ID</th>
				                                      <th scope="col">PATENTE</th>
				                                      <th scope="col">COLOR</th>
				                                      <th scope="col">TITULAR</th>
				                                      <th scope="col">MARCA </th>
				                                      <th scope="col">MODELO</th>
				                                      <th scope="col">TIPO</th>
				                                      <th scope="col">N° DE CHASIS</th>
				                                      <th scope="col">NUMERO DE MOTOR</th>
			                                    </tr>
		                                  </thead>
		
		                                  <tbody>
			                                    <tr th:each="vehiculo : ${vehiculo}">
			                                    	  <td th:text="${vehiculo.id}"></td>
				                                      <td th:text="${vehiculo.patente}"></td>
				                                      <td th:text="${vehiculo.color}"></td>
				                                      <td th:text="${vehiculo.titular}"></td>
				                                      <td th:text="${vehiculo.marca}"></td>
				                                      <td th:text="${vehiculo.modelo}"></td>
				                                      <td th:text="${vehiculo.tipo}"></td>
				                                      <td th:text="${vehiculo.numeroChasis}"></td>
				                                      <td th:text="${vehiculo.numeroMotor}"></td>
			                                    </tr>
		                                  </tbody>
		                            </table>
	                            </div>
                            </div> 
                      
                      
                      
                      
                      
                     <div class="row justify-content-center">
	              		<div class="col-md-9 col-lg-7 mx-auto">
	                          
	                        
		                      <div class="row justify-content-center">
		                          <h3 class=" w-100 p-2 text-center " style="border: 2px dodgerblue solid">TRIPULANTES</h3>
		                       
			                      <div class="table-responsive">
				                      <table class="table table-reponsive-sm table-striped"> 
						                         <thead class="bg-info">
						                            <tr>
						                              <th scope="col">ID</th>
						                              <th scope="col">DOCUMENTO</th>
						                              <th scope="col">APELLIDO</th>
						                              <th scope="col">NOMBRE</th>
						                              <th scope="col">NACIONALIDAD</th>
						                            </tr>
						                       </thead>
						
						                       <tbody>
						                              <tr th:each="tripulante : ${listTrip}">
						                              <td th:text="${tripulante.id}"></td>
						                              <td th:text="${tripulante.documento}"></td>
						                              <td th:text="${tripulante.apellido}"></td>
						                              <td th:text="${tripulante.nombres}"></td>
						                              <td th:text="${tripulante.nacionalidad}"></td>
						                            </tr>
						                       </tbody>
						              </table>
			                      </div>
			                      
		                      </div>  
	                        
	                    </div>
				  </div>      
                          
  </body>
</html>				
				