<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sp">
	<head>
		<meta name="author" content="Toconas Ulises Daniel ">
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	
    	<!-- Bootstrap -->
    	<link th:rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
    	
    	<!-- CSS 
    	<link th:rel="stylesheet" type="text/css" th:href="@{css/style.css}">
    	-->
    	
    	<!-- FontAwesome -->
    	<link href="fontawesome-5.13.1/css/all.css" rel="stylesheet">
    	
    	<!-- Scripts de bootstrap -->
    	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>		
		<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}" type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
		<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}" type="text/javascript" src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    	
		<title>Tracking de Camiones</title>
	</head>
  <body>
  
  		<!-- abrir la plantilla del header -->
		<div th:insert="layout/header :: header"></div>
		
		<div class="container">
					
			<div class="card-deck mt-4">
			
				<!-- Tarjeta de registro -->
				<div class="card">
						<div class="card-header text-center">
			    			<h4 class="h4 font-weight-bolder">DATOS DEL VEHICULO</h4>
			    		</div>
				    <div class="card-body">
					  	
					  	<!-- Formulario de Registro -->
					  	
					  	<form th:object="${vehiculoDelForm}" class="needs-validation" novalidate id="formRegistro" th:action="@{/formulario}" method="post">
					  		<!-- Nombre del titular -->
						  	<div class="form-group row">
						    	<label for="nombreTitular" class="col-sm-4 col-form-label">Nombre del Titular</label>
						    	<div class="col-sm-8">
						      		<input th:field="${vehiculoDelForm.nombreVehiculo}" type="text" class="form-control" id="nombreTitular" required>
						      		<div class="valid-feedback">Se vé bien!</div>
						    		<div class="invalid-feedback">Debe completar este campo.</div>
						    	</div>
						  	</div>
						  	
						  	<!-- Tipo -->
						  	<div class="form-group row">
						    	<label for="tipo" class="col-sm-4 col-form-label">TIPO</label>
						    	<div class="col-sm-8">
						      		<input th:field="${vehiculoDelForm.tipo}" type="text" class="form-control" id="tipo" required>
						      		<div class="valid-feedback">Se vé bien!</div>
						    		<div class="invalid-feedback">Debe completar este campo.</div>
						    	</div>
						  	</div>
						  	
						  	<!-- Dato de la patente -->
						  	<div class="form-group row">
						    	<label for="nombrePatente" class="col-sm-4 col-form-label">NRO DE PATENTE</label>
						    	<div class="col-sm-8">
						      		<input th:field="${vehiculoDelForm.nombrePatente}" type="text" class="form-control" id="nombrePatente" required>
						      		<div class="valid-feedback">Se vé bien!</div>
						    		<div class="invalid-feedback">Debe completar este campo.</div>
						    	</div>
						  	</div>
						  	
						  	<!-- Marca -->
						  	<div class="form-group row">
						    	<label for="marca" class="col-sm-4 col-form-label">MARCA</label>
						    	<div class="col-sm-8">
						      		<input th:field="${vehiculoDelForm.marca}" type="text" class="form-control" id="marca" required>
						      		<div class="valid-feedback">Se vé bien!</div>
						    		<div class="invalid-feedback">Debe completar este campo.</div>
						    	</div>
						  	</div>
							
							<!-- Modelo -->
						  	<div class="form-group row">
						    	<label for="modelo" class="col-sm-4 col-form-label">MODELO</label>
						    	<div class="col-sm-8">
						      		<input th:field="${vehiculoDelForm.modelo}" type="text" class="form-control" id="modelo" required>
						      		<div class="valid-feedback">Se vé bien!</div>
						    		<div class="invalid-feedback">Debe completar este campo.</div>
						    	</div>
						  	</div>
							
							<!-- Color -->
						  	<div class="form-group row">
						    	<label for="color" class="col-sm-4 col-form-label">COLOR</label>
						    	<div class="col-sm-8">
						      		<input th:field="${vehiculoDelForm.color}" type="text" class="form-control" id="color" required>
						      		<div class="valid-feedback">Se vé bien!</div>
						    		<div class="invalid-feedback">Debe completar este campo.</div>
						    	</div>
						  	</div>
						  	
						  	<!-- nro de chasis -->
						  	<div class="form-group row">
						    	<label for="chasis" class="col-sm-4 col-form-label">NRO DE CHASIS</label>
						    	<div class="col-sm-8">
						      		<input th:field="${vehiculoDelForm.chasis}" type="text" class="form-control" id="chasis" required>
						      		<div class="valid-feedback">Se vé bien!</div>
						    		<div class="invalid-feedback">Debe completar este campo.</div>
						    	</div>
						  	</div>
						  	
						  	<!-- nro de motor -->
						  	<div class="form-group row">
						    	<label for="motor" class="col-sm-4 col-form-label">NRO DE MOTOR</label>
						    	<div class="col-sm-8">
						      		<input th:field="${vehiculoDelForm.motor}" type="text" class="form-control" id="motor" required>
						      		<div class="valid-feedback">Se vé bien!</div>
						    		<div class="invalid-feedback">Debe completar este campo.</div>
						    	</div>
						  	</div>
						  	
						  		<!-- Boton Registrar -->
						  	<div class="form-group row mt-5">
						      	<button type="submit" class="btn btn-outline-primary col-sm-10 col-lg-4 mx-auto my-2 my-sm-0">REGISTRAR</button>
						  	</div>
						  	
						  	<script>
								// Example starter JavaScript for disabling form submissions if there are invalid fields
								(function() {
								  'use strict';
								  window.addEventListener('load', function() {
								    // Fetch all the forms we want to apply custom Bootstrap validation styles to
								    var forms = document.getElementsByClassName('needs-validation');
								    // Loop over them and prevent submission
								    var validation = Array.prototype.filter.call(forms, function(form) {
								      form.addEventListener('submit', function(event) {
								        if (form.checkValidity() === false) {
								          event.preventDefault();
								          event.stopPropagation();
								        }
								        form.classList.add('was-validated');
								      }, false);
								    });
								  }, false);
								})();
							</script>
						  	
						</form>
					</div>
			</div>
		</div>		
	</div>
</body>
</html>